.title-container {
    
    .container {
        margin: 0 auto;
        background-image: url('/assets/home.png');
        background-size: cover;
        width: 80%;
        height: 60vh;
        .flex(center, center, column);
        color: white;

        button {
            margin-top: 10px;
            font-size: 2rem;
            padding: 10px 30px;
            color: @nav-color;
            border-radius: 10px;
            box-shadow: 0px 2px 5px rgb(54, 54, 54);
        }
    }
}

hr {
    margin: 40px 0;
    border-top: 3px solid rgb(189, 189, 189);
}